{% extends "layout.html" %}

{% block page_title %}
  GOV.UK Registers Sprint

{% endblock %}

{% block content %}
<style>
p.small {
    line-height: 70%;
}

p.big {
    line-height: 200%;
}
</style>


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Register's Sprint Reports
        <span class="heading-secondary"></span>
      </h1>
      <p>
        This is what the Registers team have done over Q3 organised by sprint. It also shows what we learnt each sprint as a result of user research.
      </p>
      <h2 class="heading-large">Sprint
      </h2>
      <h3 class="heading-medium">06/12/2017 - 20/12/2017
      </h3>
      <h4 class="heading-medium" style="bold">Done
      </h4>
      <p>
        <ul class="list list-bullet">
          <li> <a href="https://local-authority-nir.register.gov.uk/"> Local authority </a> NIR: now ‘ready to use’ completing the full set of all UK local authority registers free to download or integrate via our APIs.
          </li>
          <li>
              <a href="https://allergen.register.gov.uk/">
  						Allergen register
					     </a> (FSA) - agreement secured to move this register to ‘ready to use’.
          </li>
          <li>We just moved 7 Statistical Geography Registers to ‘ready to use’ meaning that we will have exceeded our target this quarter (9 registers instead of 6).
          </li>
          This will bump the overall number of ‘available and ready to use’ registers to 26 before we break for Christmas.
          <li>Agreement also secured with DWP to progress 3 Jobcentre registers to ‘available for public feedback’ early January.
          </li>
          <li>We worked with OfQual to resolve outstanding questions about the format of the Qualifications register and have secured agreement to open their 4 registers for public feedback ASAP (Qualification Type, Qualification Level, Qualification Assessment method and Qualification Sector Subject Area)
          </li>
          <li>Public Body Account and Classifications registers (ONS) - agreement secured in principle to move to ‘available to use’
          </li>
          <li>The team have started work to analyse retrospectively the end to end data modelling approach and challenges with key registers that we have taken through the full delivery cycle to ‘ready to use’.</li>
          <p>
          </p>
          <li>Scottish Government have renewed engagement efforts with us and we’re agreeing a meeting for early January which might help identify options for Schools Sct (2600 addresses) and unblock other Scottish registers in progress.
          </li>

          <li>We even made an enhancement to LA NIR register within a week of their request for clickable links to council websites.
            Had a couple of risks flagged from our latest pen test, these have both been addressed (or are in progress), both were minor
          <li>Created experience map for the Register creation process, based on research with the team from earlier in the quarter - insights and analysis will help inform Q4 Missions.
            Workshops setup for the new year between Registers and GaaP SMT to discuss the value proposition of Registers
          </li>
          <li>Content Design have fed back on the Registers History page and it has been done away with in its current form for the new <a href=“https://openregisters-frontend-alpha.cloudapps.digital/”/> Front end prototype
            </a>
. The key information is now displayed as part of the Registers page (where was the data from, who maintains it, how was it collated and when will it be ready for use)
          </li>
          <li>Performance analysis completed on the Registers platform with regards to how we handle large Registers.
          </li>
      </p>
            <h2 class="heading-large">Sprint
            </h2>
            <h3 class="heading-medium">22/11/2017 - 06/12/2017
            </h3>
            <h4 class="heading-medium" style="bold">Done
            </h4>
          </p>
          <p>
            <ul class="list list-bullet">
            <li><span>Local authority NIR: feedback collated, shared and analysed with custodian - secured agreement for moving to ‘available to use’</span></li>
            <li><span>Allergen register (FSA) shared for public feedback - lots of comments and interest.</span></li>
            <li><span>Data modelling challenges for Meat Handling Establishments (FSA): decision made to park for now and review as test case for ‘register characteristics (Mission objective in Q4).</span></li>
            <li><span>Completed address-matching for JCP registers to best efforts - awaiting JCP senior management decision on next steps.</span></li>
            <li><span>Completed streamlining/email integration with Zendesk and new feedback capture model ready for team use.</span></li>
            <li><span>Creation Team are using the <a href="https://managing-registers-staging.cloudapps.digital/">

            <a href="https://managing-registers-staging.cloudapps.digital/">
            Register management tool on the staging environment
            </a>
            <p>
            </p>
            </a> - updates made successfully for 2 types of changes in Gov Orgs register.</span></li>
            <li><span>Benefits work to produce Registers economic and strategic case shared with GaaP.</span></li>
            <li><span>Public Body Account and Classifications registers (ONS) - outstanding issues resolved (name change and classifications), agreement secured in principle to move to ‘available to use’ within Q3.</span></li>
            <li><span>7 statistical geography registers (linked to ONS Statistical Geography Classifications) have just been shared publicly for feedback over next 2 weeks - aiming for available to use within Q3.</span></li>
            <li><span>Progressing Qualifications registers with Ofqual - aiming to have ready for wider public feedback.</span></li>
            <li><span>Allergen register - feedback analysis with custodian due wef 14th December, hopefully register will be available to use within Q3.</span></li>
            <li><span>Jobcentres registers: hoping for decision on next steps - possible test case for UPRN workaround through publishing on Data.GOV which has implications for problem with addresses.</span></li>
            <li><span>Analysis of Q3 approach to creation for lessons learnt regarding Q4 - reviewing product docs published and templated materials eg. welcome pack, standard emails, google forms.</span></li>
            <li><span>Further work on mapping and reviewing engagement materials and intervention points for benefits data capture will continue.</span></li>
            <li><span><a href="https://managing-registers-staging.cloudapps.digital/">
Register management tool on the staging environment
</a> launched internally and now in use in the creation/updating registers process (next release to be sold as an outcome)</span></li>
            <li><span>Download large registers work de-scoped as user need for it met by work done on Search function, users downloading registers were often doing so to be able to search for an individual record</span></li>
            <li><span>Registers performance page completed and the first iteration of this is now live on the <a href="https://www.gov.uk/performance/govuk-registers"> Registers' dashboard</a></span></li>
            <li><span>Now that we can display, paginate through and search large individual registers we are doing some analysis on both our Client Library and Frontend to ensure performance won’t be affected by handling large registers (load times etc)</span></li>
            <li><span>Table sorting work being done on the new frontend to allow users to sort data alphabetically within register</span></li>
            <li><span>User Research shared an experience map for the Register creation process, based on research with the team from earlier in the quarter - insights and analysis will help</span></li>
            <li><span>Content design have been feeding in some changes to be done on the Register pages to reflect</span></li>
            </ul>
            </p>
                <p>
                  <h4 class="heading-medium" style="bold">Things we learnt:
                  </h4>
                </p>
                <p>
                  Our existing structure works for most of our content, with no massive gaps. The content placed in in Using Registers doesn’t fit together as a group. Users grouped our content in five main groups:
                </p>
                <p>
                    <li><span>Product: What is it, how does it work</span></li>
                    <li><span>Support: Help me, hopefully let me speak to a human.</span></li>
                    <li><span>Technical Documentation: How do I do technical things</span></li>
                    <li><span>Registers Pipeline: Things in the future, possibly technical.</span></li>
                    <li><span>A Single Register: Things about a specific register</span></li>
                    <li><span>Download and view were not seen as technical words, so were not associated with tech docs, despite being about technical things</span></li>
                    <li><span>Available registers was not seen as pipeline, which is where it currently sits, because they already exist</span></li>
                </p>
            </p>
        <h2 class="heading-large">Sprint
        </h2>
        <h3 class="heading-medium">08/11/2017 - 22/11/2017
        </h3>
        <h4 class="heading-medium" style="bold">Done
        </h4>
      </p>
      <p>
        <ul class="list list-bullet">
        <li><span>Local authority NIR moved to alpha - open for wider feedback</span></li>
        <li><span>Created draft registers for Police Neighbourhoods and Forces</span></li>
        <li><span>Created draft register for Schools Sct - shared with custodian</span></li>
        <li><span>Continued with data modelling for Meat Handling Establishments ; shared draft allergens register (both FSA)</span></li>
        <li><span>Continued laborious job of address-matching for JCP registers</span></li>
        <li><span>Ellie met with ONS and new custodian for industries & occupations register:</span></li>
        <p>
        </p>
        <li><span>hopefully unblocked progressing this to beta and cemented way forward for other registers</span></li>
        <li><span>possible access to their address matching tool which would be better than our current one</span></li>
        <li><span>Job Centres registers: complete address matching (to approx 95%) and agree UPRN list hosting on Data.GOV (workaround needed by JCP)</span></li>
        <li><span>Progressing Qualifications register to alpha - open for wider feedback</span></li>
        <li><span>Finalising benefits work to produce economic and strategic case for Registers</span></li>
        <li><span>Reviewing and refining feedback capture for registers, categorisation, volumes, methodology, channels, email integration with Zendesk</span></li>
        <li><span>Collation and analysis of feedback on LA NIR register - agree changes and move to beta (ready to use).</span></li>
        <li><span><a href="https://managing-registers-staging.cloudapps.digital/">
Register management tool on the staging environment
</a> ‘soft launch’ to the Registers Creation team, live test, gain feedback and make register changes less reliant on Register dev resource (less time on BAU)</span></li>
        <li><span>Content Design tasks have been kicked off - around register/field naming guidance for custodians, content for reliability and content for new register history pages</span></li>
        <li><span>Interaction designer now joined Registers 3 days a week - onboarding</span></li>
        <li><span>Q4 Missions 2nd team meeting - finalising the mission statements and articulating the milestone objectives</span></li>
        <li><span>Downloading Large Registers - MVP for this being worked on for Q3. Requirements are to allow users to download entire Register from our new Frontend (even if it is larger than the current limit of 5000 records). Initially going to be available in CSV format only</span></li>
        <li><span>Interaction design improvements coming through for implementation on the new register frontend. To reflect the changes made when improving search and pagination</span></li>
        <li><span>New Frontend - final changes merged to support pagination for large registers and new Search option. Ready for use in our Private Beta. Users can now search for records throughout the whole registers whereas previously only able to search the records shown on screen. The layout of the Register page for search and filter options was also updated by design following research feedback</span></li>
        <li><span>Status Page/Performance Platform Page - Status Page work may be mostly completed, need to check with Frontend dev.</span></li>
        <li><span>Performance Platform Page has some open questions around it for clarification but essentially it’ll initially include Up time and response time, and be available on Ready to Use registers only</span></li>
        <li><span>Content/Interaction Design - Paola/Thom both working with Conor (Registers Interaction Designer) on highest priority Content tasks. Highlighting reliability of Registers within the Product pages rather than dedicated page and refining Register History page so it no longer needs to be a page in its own right</span></li>
        </ul>
      </p>

      <p>

        <h2 class="heading-large">Sprint
        </h2>
        <h3 class="heading-medium">25/10/2017 - 08/11/2017
        </h3>
        <h4 class="heading-medium" style="bold">Done
        </h4>
        <p>
          <li><span>Draft register created for Registered Charities (Eng & Wls)</span></li>
          <li><span>Draft register created for Parliamentary Constituencies</span></li>
          <li><span>Draft register created for Food Allergens</span></li>
          <li><span>Draft register created for Meat Handling Establishments</span></li>
          <li><span>New custodians updated for ONS (industries & occupations) and FCO (countries and territories)</span></li>
          <li><span>User research playback from interviews with 10 custodians</span></li>
          <li><span>Lots of engagement with FSA, John Sheridan (NA),</span></li>
          <li><span>Meeting DoH - scoping custodians for new registers</span></li>
          <li><span>Working on registers of Job Centres; Parliamentary Constituencies; Higher Education Establishments and Qualifications; Combined LAs (Eng)</span></li>
          <li><span>Final call for feedback on Statistical Geography Council Areas Sct before moving to beta with custodian’s agreement</span></li>
          <p>
          </p>
          <li><span>Job Centres registers: decision on workaround for addresses/UPRN matching</span></li>
          <li><span>New Data Analyst joining 9th November: Franklin Abiwon-Ramirez</span></li>
          <li><span>Onboarding new custodians from FCO, MoJ, NI Government, ONS</span></li>
          <li><span>Analysing register feedback mechanisms available and type/volume of engagement they generate</span></li>
          <li><span>Changed the naming convention of Registers from ‘Alpha’ and ‘Beta’ to ‘In Progress’ and ‘Ready to use’ to avoid confusion for custodians</span></li>
          <li><span>Work completed on the Registers Frontend with regards to displaying large registers to users</span></li>
          <li><span>Work completed on the Client Library to support the Frontend changes for displaying large registers - new repo created for this as well on Github</span></li>
          <li><span>Dev work starting on both Client Library and Frontend for week 9 milestone around supporting downloading entire registers</span></li>
          <li><span>Technical documentation underway for Client Library (and existing <a href=“https://registers-docs.cloudapps.digital/
          ”/> API Documentation
        </a> being iterated)</span></li>
        </p>

        <p>

          <h2 class="heading-large">Sprint
                </h2>
                <h3 class="heading-medium">11/10/2017 - 25/10/2017
                </h3>
                <h4 class="heading-medium" style="bold">Done
                </h4>
                <p>
                  <ul class="list list-bullet">
                    <li><span>Making good progress with our new tighter prioritisation approach to register creation</span></li>
                    <li><span>Created new alpha register for Statistical Geography Council Areas Sct</span></li>
                    <li><span>Custodian confirmed and draft register of LAs NIR created</span></li>
                    <li><span>Draft register created for Registered Charities (Eng & Wls)</span></li>
                    <li><span>New Tech Architect and Tech Writer have joined</span></li>
                    <li><span><a href="https://managing-registers-staging.cloudapps.digital/">
                    Register management tool on the staging environment
                    </a> tasks/bugs required before shipping iteration one of this have now been prioritised ready for development</span></li>
                                        <li><span>Full design review and feedback on the <a href="https://managing-registers-staging.cloudapps.digital/">
                    Register management tool on the staging environment
                    </a></span></li>
                    <li><span><a href="https://managing-registers-staging.cloudapps.digital/">
                    Register management tool on the staging environment
                    </a> updates to allow a full design review</span></li>
                    <li><span>Major <a href="https://managing-registers-staging.cloudapps.digital/">
                    Register management tool on the staging environment
                    </a> blocker found that resulted in the rollout plan being changed (currently no validation around the permissions of users of the Management Tool, security risk)</span></li>
                    <li><span>Design feedback/recommendations on the latest iteration of the Registers <a href=“https://openregisters-frontend-alpha.cloudapps.digital/
                    ”/> Front end prototype
                    </a>
                     (particularly around how we display large registers to users)</span></li>
                    <li><span>MVP Client Library now  keeps itself up to date</span></li>
                    <li><span>Dev work continued on the Client Library around how it handles large registers</span></li>
                    <li><span>Full content review of the <a href=“https://registers.cloudapps.digital/”/>
                    Registers Product pages
                    </a> before UCD handover (setting us up for Q3 missions)</span></li>
                    <li><span>User Research with existing custodians</span></li>
                    <li><span>Frontend work to continue following latest round of feedback from Interaction design (including how it displays large registers)</span></li>
                    <li><span>Added all Registers in ‘Ready to use’ to the Product pages so it’s obvious to users those that are production ready</span></li>
                </p>
                <p>
                  <h4 class="heading-medium" style="bold">Things we learnt:
                  </h4>
                    <p>

                    </p class= "big">
                      <li><span>The concept of having a single authority source for data appealed to custodians</span></li>
                      <li><span>Custodians want more people to see their data, and were often told registers would become the place to go for government data.</span></li>
                      <li><span>This is partly about helping open up data and increasing transparency</span></li>
                      <li><span>The ability to link data increases the usefulness of that data.</span></li>
                      <li><span>The additional workload for custodians in terms of maintaining a register was seen as minimal, but the process of creating a register was a lot more labour intensive than anticipated.</span></li>
                      <li><span>The expectation was that you would just take the existing data and turn it into a register</span></li>
                      <li><span>The register had also not replaced lists as anticipated, due to fear the stripped back nature made it less useful to existing users of the data set.</span></li>
                      <li><span>Registers are not top priority for custodians but have to compete against demands of their day job.</span></li>
                      <p>
                      </p>
                      <li><span>Custodians valued meeting us face to face, as it built up rapport.</span></li>
                      <li><span>Custodians struggled to understand what exactly it was we were offering/ asking them to do, especially via email. This was due to the complexity of what we were offering, as well as it being hard to understand in the abstract.</span></li>
                      <li><span>Major concern around registers was around whether the data would be useful to existing users when it was turned into a register. They were not sure of the value of another set of data. They had a very clear idea of who the existing users were, and they felt Some saw the register audience as machines or developers</span></li>
                      <li><span>There was also a concern around blank data - what was the concerns? What is blank data?.</span></li>
                      <li><span>Lack of feedback - feedback to Custodians? on usage increased uncertainty around a value of registers.  The perceived inflexibility of registers was also a concern for custodians.</span></li>
                      <li><span>Alpha and Beta were not meaningful labels for Custodians - why?</span></li>
                      <li><span>'There is no way we can move towards the GDS one, because it is a lot worse than an excel spreadsheet for providing information to the members of the public” p3 - maybe explain here how/why we have to remove some data provided by custodians before creating a register</span></li>
                      <li><span>Quality of data was also a concern for custodians</span></li>
                      <li><span>For their existing audience, it was not seen as adding value</span></li>
                      <li><span>Registers are a nice to have, competing against day job</span></li>
                      </p>
                </p>
      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://registers.cloudapps.digital/">
						Guide to GOV.UK Registers
					</a>
				</li>
			</ul>
    </div>
  </div>
</main>

{% endblock %}
